    * {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: .14rem;
        box-sizing: border-box;
    }
    
    html {
        font-size: 625%
    }
    
    body,
    html,
    .wrap {
        width: 100%;
        height: 100%;
    }
    
    .wrap {
        display: flex;
        flex-direction: column;
    }
    
    header {
        width: 100%;
        height: auto;
        border-bottom: 2px solid #ccc;
        .one {
            width: 100%;
            height: .6rem;
            display: flex;
            align-items: center;
            padding: 0 .1rem;
            justify-content: space-between;
            background: red;
            li {
                font-size: .18rem;
                input {
                    width: 100%;
                    background: #eee;
                    border: none;
                    outline: none;
                    border-radius: 10px;
                    height: .2rem;
                    text-align: center;
                }
            }
        }
        .two {
            width: 100%;
            height: .5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 .1rem;
        }
    }
    
    section {
        flex: 1;
        overflow-y: scroll;
    }
    
    .list {
        border-bottom: 1px solid #ccc;
        width: 100%;
        height: auto;
        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: .1rem;
            li {
                img {
                    width: 100%;
                    height: 100%;
                }
                h2 {
                    font-size: .18rem;
                    line-height: 2.5;
                }
                h3 {
                    line-height: 2;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    span {
                        &:nth-child(2) {
                            border: 1px solid red;
                        }
                    }
                }
                h4 {
                    span {
                        color: red
                    }
                }
            }
        }
        ol {
            text-align: right;
            padding-right: .1rem;
        }
    }
    
    footer {
        width: 100%;
        height: .5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 .1rem;
    }