* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: .14rem;
  box-sizing: border-box;
}

html {
  font-size: 625%;
}

body,
html,
.wrap {
  width: 100%;
  height: 100%;
}

.wrap {
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #ccc;
}

header .one {
  width: 100%;
  height: .6rem;
  display: flex;
  align-items: center;
  padding: 0 .1rem;
  justify-content: space-between;
  background: red;
}

header .one li {
  font-size: .18rem;
}

header .one li input {
  width: 100%;
  background: #eee;
  border: none;
  outline: none;
  border-radius: 10px;
  height: .2rem;
  text-align: center;
}

header .two {
  width: 100%;
  height: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 .1rem;
}

section {
  flex: 1;
  overflow-y: scroll;
}

.list {
  border-bottom: 1px solid #ccc;
  width: 100%;
  height: auto;
}

.list ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .1rem;
}

.list ul li img {
  width: 100%;
  height: 100%;
}

.list ul li h2 {
  font-size: .18rem;
  line-height: 2.5;
}

.list ul li h3 {
  line-height: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list ul li h3 span:nth-child(2) {
  border: 1px solid red;
}

.list ul li h4 span {
  color: red;
}

.list ol {
  text-align: right;
  padding-right: .1rem;
}

footer {
  width: 100%;
  height: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 .1rem;
}
